body{
  background-color: #F8F8FF;
}

.gallery{
  flex-flow: row wrap;
  display: flex;
  justify-content: space-around;
}
.container{
  order: 2;
  border-color: black;
  border-style: solid;
  border-width: 25px;
  margin-top: 10px;
  line-height: 150px;
  flex: 0 25%;
}
.image {
  width: 350px;
  height: 200px;
}

.textbox{
  flex: 1 100%;
  order: 1;
}

.subreddit{
  width: 40%;
  height: 40px;
  border: 2px solid grey;
  font-size: 20px;
}

.title{
  position: absolute;
  display: none;
  z-index: 1;
  top: -50px;
  right: 50px;
}


a:hover  .title {
    display: block;
}
